.container {
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  width: 700px;
  height: 700px;
  align-items: center;
  border-radius: 50px;
  padding: 5px;
  }
  img .pic {
    width: 40px;
    border-radius: 60px;
  }
  .header {
    display: flex;
    gap: 10px;
    margin: 20px;
  }
  .FlexContainer {
    display: flex;
    gap: 1px;
  }
  .pic {
    border-radius: 50%;
  }
  .like {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .right {
    padding-left: 21.1em;
    display: flex-end;
    flex-direction:row;
    text-align: center;
  }
  hr {
    width: 900px;
  }
  .flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: normal;
  align-content: normal;
  gap: 70px;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;