* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.page {
  border: 1px dashed lime;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page > * {
  border: 1px solid red;
}
.navbar {
  height: 70px;
}
.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}